<div class="signup">
  <div class="signup-content">
    <h1>Sign Up</h1>
    <p>Welcome to GGI! Please fill out the form below to create an account.</p>
    <p>* Denotes a required field.</p>
  </div>
  <div class="signup-container">
    <form action="/auth/signup" method="POST" id="form-container">
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" id="firstname">
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" id="lastname">
      <label for="email">Email Address</label>
      <input type="email" name="email" id="email">
      <label for="accesscode">Access Code*</label>
      <input type="text" name="accessCode" id="accessCode">

      <br><br>

      <label for="username">Username*</label>
      <input id="username" type="text" name="username" placeholder="GGI">
      <label for="password">Password*</label>
      <input id="password" type="password" name="password" placeholder="Password">

      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}

      <br><br>

      <button class="create-btn">Create Account</button>

      <p class="account-message">
        Do you already have an account?
        <a href="/auth/login">Login</a>
      </p>
    </form>
  </div>
</div>