<form action="/communities" method="POST">
<label for="communityName">Community Name</label>
<input type="text" name="communityName" id="communityName">
<label for="location">Location</label>
<input type="text" name="location" id="location">
<label for="communitySize">Community Size</label>
<input type="text" name="communitySize" id="communitySize">
<label for="communityManager">Community Manager Name</label>
<input type="text" >
</form>