<div class="admin">
  <h1>Welcome Back {{user.username}}!</h1>
  <div class="admin-resources">
    <h2>Resources</h2>
    <p>Your Community Manager resources live here.</p>
  </div>
  <div class="admin-actions">
    <h2>Admin Actions</h2>
    <a href="/community">View Communities</a>
    <a href="/admin/add">Add A New Community</a>
  </div>
</div>