<h1>Welcome Back {{user.username}}!</h1>
<div class="admin-resources">
  <h2>Resources</h2>
  <a href="">Add New Community</a>
  <a href="">Update Existing Community</a>
  <a href="">Close Community</a>
</div>
<div class="admin-actions">

</div>