<h1>Our Communities</h1>
{{#if user}}
<a href="/admin/add">Add A New Community</a>
{{/if}}
<div class="community-list">
  {{#each communityList}}
  <a href="/community/{{_id}}">
    <p>{{communityName}}</p>
  </a>
  {{/each}}
</div>