<div class="hero-image">
  <div class="hero-text">
    <h1>Friendship makes our world go round...</h1>
    <a href="/map" class="btn">Find a Community Near You!</a>
  </div>
</div>
<div class="homepage-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Praesent tristique magna sit
    amet
    purus gravida quis blandit. Diam quam nulla porttitor massa id neque. Dictumst quisque sagittis purus sit amet
    volutpat consequat mauris nunc. Cursus euismod quis viverra nibh cras. Commodo viverra maecenas accumsan lacus vel
    facilisis volutpat est velit. Diam sit amet nisl suscipit. Nisl rhoncus mattis rhoncus urna neque viverra justo.
    Massa
    massa ultricies mi quis. Id interdum velit laoreet id donec ultrices tincidunt arcu non. Tristique sollicitudin nibh
    sit amet commodo nulla facilisi nullam. Ultricies mi eget mauris pharetra et ultrices. Urna neque viverra justo nec.
    Viverra accumsan in nisl nisi scelerisque. Nunc id cursus metus aliquam eleifend mi in. Eget mi proin sed libero
    enim
    sed faucibus. Nulla malesuada pellentesque elit eget gravida cum sociis. Varius duis at consectetur lorem.</p>

</div>