<div class="hero-image">
  <div class="hero-text">
    <h1>Friendship makes our world go round...</h1>
    <a href="/map" class="btn">Find a Community Near You!</a>
  </div>
</div>
<div class="homepage-content">
  <p>Girl Gone International is a thriving, fast growing worldwide community of over 250,000 international women with
    local communities in over 200 cities. GGI was founded by Anne Scott in 2010 as a way to overcome her own social
    isolation while living overseas and has since grown into an identity, a way of life, friendship and belonging.</p>
  <p>We are a thriving culture of badass women who live, work, love and travel far from where we started.</p>
  <p>We are a big, open, co-created network, an empowering peer-to-peer support system, an open sisterhood, an inspiring
    storytelling and wisdom sharing platform.</p>
</div>