<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />



  <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />

</head>

<body>
  <header>
    <div class="navigation">
      <nav class="user-authentication">
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/logout">Logout</a>
      </nav>
      <nav class="main-navigation">
        <a href="#">About</a>
        <a href="/map">Find Your GGI</a>
        <a href="#">Experiences</a>
        <a href="#">Contact</a>
      </nav>
    </div>
  </header>


  {{{body}}}

  <footer class="footer">
    <footer class="footer">
      <div class="social-icons">
        <span class="Facebook"><img src="public/images/Facebook_White.png" alt="Facebook"></span>
        <span class="Instagram"><img src="public/images/Instagram_White.png" alt="Instagram"></span>
        <span class="Twitter"><img src="public/images/Twitter_White.png" alt="Twitter"></span>
        <span class="Pinterest"><img src="public/images/Pinterest_White.png" alt="Pinterest"></span>
      </div>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms and Conditions</a>
    </footer>


    <script src="/javascripts/script.js"></script>
</body>

</html>