<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />


  <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />

</head>

<body>
  <header>
    <div class="navigation">
      <nav class="user-authentication">
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/logout">Logout</a>
      </nav>
      <nav class="main-navigation">
        <a href="#">About</a>
        <a href="/map">Find Your GGI</a>
        <a href="#">Experiences</a>
        <a href="#">Contact</a>
      </nav>
    </div>
  </header>


  {{{body}}}

<<<<<<< HEAD
  <<<<<<< HEAD======<footer class="footer">
=======
  <footer class="footer">
>>>>>>> e2a53c4f4f0c315a8240873856f7928e233824b3
    <div class="social-icons">
      <span class="Facebook"></span>
      <span class="Instagram"></span>
      <span class="Twitter"></span>
      <span class="Pinterest"></span>
    </div>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms and Conditions</a>
  </footer>


  <script src="/javascripts/script.js"></script>
</body>

</html>