<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />



  <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />

</head>

<body>
  <header>
    <div class="user-authentication">
      <nav>
        {{#if user}}
        <a href="/auth/logout">Logout</a>
        {{else}}
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Sign Up</a>
        {{/if}}
      </nav>
    </div>
    <div class="main-navigation">
      <nav>
        <a href="#">About</a>
        <a href="/map">Find Your GGI</a>
        <a href="#">Experiences</a>
        <a href="#">Contact</a>
      </nav>
    </div>
  </header>


  {{{body}}}

  <footer class="footer">
    <div class="social-icons">
      <span class="Facebook"><a href="https://www.facebook.com/GirlGoneInternational/"><img
            src="/images/Facebook_White.png" alt="Facebook"></a></span>
      <span class="Instagram"><a href="https://www.instagram.com/girlgoneinternational/"><img
            src="/images/Instagram_White.png" alt="Instagram"></a></span>
      <span class="Twitter"><a href="https://twitter.com/GirlGoneIntl"><img src="/images/Twitter_White.png"
            alt="Twitter"></a></span>
      <span class="Pinterest"><a href="https://www.pinterest.com/GirlGoneIntl/"><img src="/images/Pinterest_White.png"
            alt="Pinterest"></a></span>
      <span class="Spotify"><a href="https://open.spotify.com/playlist/1zKWwKbxJBqCHbj7zJHskX"></a></span>
    </div>
    <a href="#">Book Club</a>
    <a href="#">Blog</a>
    <a href="#">Team</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms and Conditions</a>
  </footer>


  <script src="/javascripts/script.js"></script>
</body>

</html>