<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" href="/images/GGI_Favicon.png">


  <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />

</head>

<body>
  <header>
    <div class="user-authentication">
      <div class="account-links">
        {{#if user}}
        <li> <a href="/auth/logout">Logout</a>
          {{else}}
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Sign Up</a></li>
        {{/if}}
      </div>
    </div>
    <nav class="main-navigation">
      <a href="/"><img class="nav-img" src="/images/GGI Logo 2020.png" alt="Girl Gone International Logo"></a>
      <ul class="nav-ul">
        <li><a href="#">About</a></li>
        <li><a href="/map">Find Your GGI</a></li>
        <li><a href="#">Experiences</a></li>
        <li><a href="#">Book Club</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    {{!-- <div class="main-navigation"> --}}

    {{!-- </div> --}}
  </header>


  {{{body}}}

  <div class="newsletter-signup">
    <p>Want to stay updated on new developments with Girl Gone International? Sign up for our newsletter!</p>
    <input type="email" name="useremail" id="useremail"><button type="submit">Sign Up!</button>
  </div>

  <footer class="footer">
    <div class="footer-flex">
      <div class="social-icons">
        <span class="Facebook"><a href="https://www.facebook.com/GirlGoneInternational/"><img
              src="/images/Facebook Icon_Deep Ruby.png" alt="Facebook"></a></span>
        <span class="Instagram"><a href="https://www.instagram.com/girlgoneinternational/"><img
              src="/images/Instagram Icon_Deep Ruby.png" alt="Instagram"></a></span>
        <span class="Twitter"><a href="https://twitter.com/GirlGoneIntl"><img src="/images/Twitter Icon_Deep Ruby.png"
              alt="Twitter"></a></span>
        <span class="Pinterest"><a href="https://www.pinterest.com/GirlGoneIntl/"><img
              src="/images/Pinterest Icon_Deep Ruby.png" alt="Pinterest"></a></span>
        <span class="Spotify"><a href="https://open.spotify.com/playlist/1zKWwKbxJBqCHbj7zJHskX"><img
              src="/images/Spotify Icon_Deep Ruby.png" alt="Spotify"></a></span>
      </div>
      <p>©2020 Girl Gone International</p>
      <div class="footer-links">
        <li><a href="#">Blog</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms and Conditions</a></li>
      </div>
    </div>
  </footer>


  <script src="/javascripts/script.js"></script>
</body>

</html>