<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<!-- This is an empty `<div>` to which we give an `id` to target it in the `js` later on, to make it our container for the map and that we can also set dimensions for -->
<div id="map" style="width: 800px; height: 600px;">

  <script>
    mapboxgl.accessToken =
      "pk.eyJ1IjoibHdyb2NrcyIsImEiOiJjazZnOTYxb2owN2p2M21rNmFic3Z6enBqIn0.Q0wTUupueKvy1qIiWi1bdQ"; // the mapbox token is required to display the map
    const map = new mapboxgl.Map({
      container: "map", // this refers to the `id` attribute that we gave to our empty div in the HTML
      style: "mapbox://styles/mapbox/streets-v11", // mapbox comes with a preset of styles that we can use and allows to customize and share map styles with other users

    });


    axios
      .get(`http://localhost:3000/communities`)
      .then(response => {
        console.log(response);

        let communities = response.data; // the array of coordinates that we are sending from our backend route

        communities.forEach((community) => {
          console.log(community.coordinates)
          const marker = new mapboxgl.Marker();
          marker.setLngLat(community.coordinates.reverse()); // and we'll use that array as the coordinates for our marker

          marker.addTo(map);

        })

        return
        marker.on("dragend", data => {
          const coord = data.target.coordinates;             //getLngLat().toArray();

          axios
            .patch(`http://localhost:3000/communities`, { coordinates: coord })
            .then(() => {
              console.log("communities shown!");
            })
            .catch(err => {
              console.log(err);
            });
        });
      })
      .catch(err => {
        console.log(err);
      });
  </script>
</div>