/* Import Julius Sans One */
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap);

/* Import PT Sans */
@import url(https://fonts.googleapis.com/css?family=PT+Sans&display=swap);

/* Setup Raleway Extra Bold */
@import url(https://fonts.googleapis.com/css?family=Raleway:900&display=swap);

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  height: 100%;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  color: #87c6cb;
  text-transform: uppercase;
}

.footer {
  height: 20vh;
  background-color: #e39ca0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
