/* Import Julius Sans One */
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap);

/* Import PT Sans */
@import url(https://fonts.googleapis.com/css?family=PT+Sans&display=swap);

body {
  padding: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 44px;
  color: #87c6cb;
}

.footer {
  
}
